{{>navbar}}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">Express hbs templates tutorial</h1>
        <p class="lead">This is a simple express tutorial with films!</p>
        <strong class="h3">And We also use the api: themoviedb-api-client !</strong>
      </div>
    </div>
  </div>
  
</div>