<h2>Home</h2>
<p>Hello {{name}} welcome to blockbuster :D</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quos aspernatur, voluptatum cumque omnis, numquam eligendi eum laudantium officiis quae alias expedita libero id corrupti qui consequatur. Dolor, officia aliquid!</p>